* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
}

.section {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    background-color: rgb(59, 59, 255);
}

.content {
    background-color: yellow;
}

.sign-up {
    background-color: gray;
}

.feature-1 {
    background-color: red;
}

.feature-2 {
    background-color: green;
}

.feature-3 {
    background-color: pink;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.33%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

[class*="col-"] {
    float: left;
}

/* Mobile styles */
@media only screen and (max-width: 800px) {
    [class*="col-"] {
        width: 100%;
    }
}

/* Desktop styles */
@media only screen and (min-width: 801px) {
    .header {
        order: 1;
    }

    .sign-up {
        order: 2;
    }

    .features {
        order: 3;
    }

    .content {
        order: 4;
    }
}